@model Sinaicsp_API.ApplicationUser
@{
    ViewBag.Title = "UpdateUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery('#g_admin').css('display', 'block');
    });
</script>
@using (Html.BeginForm("UpdateCurrentUser", "UserManagement", FormMethod.Post, new { id = "ItemForm" }))
{
    <div class="widgetbox" style="min-height:610px">
        <h4 class="widgettitle">Update User</h4>
        <div class="widgetcontent">
            <table>
                <tr>
                    <td style="width:120px">
                        Role
                    </td>
                    <td>
                        <input type="text" class="form-control" disabled value="@string.Join(",", Model.Roles)" />
                    </td>
                </tr>
                <tr>
                    <td style="width:90px">
                        User Name
                    </td>
                    <td>
                        <input type="text" class="form-control" disabled value="@Model.UserName" />
                    </td>
                </tr>
                <tr>
                    <td style="width:90px">
                        Email
                    </td>
                    <td>
                        <input type="text" class="form-control" disabled value="@Model.Email" />
                    </td>
                </tr>
                <tr>
                    <td style="width:90px">
                        Gmail Account
                    </td>
                    <td>
                        @Html.TextBoxFor(a => a.GmailLoginAccount)
                    </td>
                </tr>
                <tr>
                    <td style="width:90px">
                        Date Created
                    </td>
                    <td>
                        <input type="text" class="form-control" disabled value="@DateTime.Now.ToShortDateString()" />
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>

                        <a class="btn btn-primary" onclick="ItemForm.submit()">Save</a>
                        <a class="btn btn-primary" href="@Url.Action("UpdateCurrentUser", "UserManagement", new { id = Model.Id })">Clear</a>
                    </td>
                </tr>
            </table>

        </div>
    </div>
}
