@model Sinaicsp_API.CSP
@{
    ViewBag.Title = "AddNewCSP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    var allTeachers = [];
    var cspId=-1;
    var schoolId=-1;
    var studentId=-1;
    var schoolYearId=-1;
    var subjectId=-1;
    jQuery(document).ready(function () {
        jQuery('#g_operations').css('display', 'block');
        @if(Model!=null&& Model.Id>0)
        {
           foreach (Sinaicsp_API.TeacherCSP item in Model.TeacherCSPs)
           {
               <text>
                    cspId=@Model.Id;
                    schoolId=@Model.Student.SchoolId;
                    studentId=@Model.StudentId;
                    schoolYearId=@Model.SchoolYearId;
                    subjectId=@Model.SubjectId;
                    Edit_AddTeacher('@item.Teacher.Id','@item.Teacher.UserName')
                </text>
           }
        }
    });

    function AddTeacher() {
        var value = $('#ddl_teachers').data("kendoDropDownList").value();
        var text = $('#ddl_teachers').data("kendoDropDownList").text();
        if (allTeachers.indexOf(parseInt(value)) > -1) {
            alert(text + ' already exists !');
            return;
        }
        allTeachers.push(parseInt(value));
        $('#tbl_teachers tr:last').after("<tr id='TR_" + value + "'><td><a href='#' onclick='RemoveTeacher(" + parseInt(value) + ")' class='delete'><img src='/Images/Remove.png' width='25' /></a></td><td>" + text + "</td></tr>");
        if (allTeachers.length > 0) {
            $('#ddl_schools').data("kendoDropDownList").enable(false);
        }
    }
    function Edit_AddTeacher(tValue,tText) {
        var value = tValue;
        var text = tText;
        if (allTeachers.indexOf(parseInt(value)) > -1) {
            alert(text + ' already exists !');
            return;
        }
        allTeachers.push(parseInt(value));
        $('#tbl_teachers tr:last').after("<tr id='TR_" + value + "'><td><a href='#' onclick='RemoveTeacher(" + parseInt(value) + ")' class='delete'><img src='/Images/Remove.png' width='25' /></a></td><td>" + text + "</td></tr>");
    }

    function SaveCSP() {
        var objModel = new Object();
        objModel = {
            ID:cspId,
            StudentId: $('#ddl_students').data("kendoDropDownList").value(),
            SubjectId: $('#ddl_subjects').data("kendoDropDownList").value(),
            SchoolYearId: $('#ddl_schoolYears').data("kendoDropDownList").value(),
            Materials: $('#Materials').val()
        };
        if(allTeachers.length==0)
        {
            alert('You must have at least one teacher !');
            return ;
        }
        jQuery.ajax({
            type: 'POST',
            url: '@Url.Action("AddNewCSPItem")',
            data: { model: objModel, teachersIds: allTeachers },
            success: function (data) {
                if (data == true) {
                    if(cspId==-1)
                    {
                        var url = '@Url.Action("Index", "CSPItem", new { })';
                        window.location.href = url;
                    }else
                    {
                        var url = '@Url.Action("Notes", "CSPItem", new {id=Model.Id })';
                        window.location.href = url;
                    }
                } else {
                    alert('Please fill all required fields !');
                }
            }
        });
    }
    function RemoveTeacher(id) {
        allTeachers.splice(allTeachers.indexOf(id), 1);
        $("#TR_" + id).remove();
        if (allTeachers.length == 0) {
            $('#ddl_schools').data("kendoDropDownList").enable(true);
        }
    }
    function School_OnChange() {
        if(cspId>0)
        {
            $('#ddl_schools').data("kendoDropDownList").enable(false);
            $('#ddl_schools').data("kendoDropDownList").value(schoolId);
        }
        $('#ddl_students').data("kendoDropDownList").dataSource.read();
        $('#ddl_teachers').data("kendoDropDownList").dataSource.read();
    }
    function Student_OnLoaded() {
        if(cspId>0)
        {
            $('#ddl_students').data("kendoDropDownList").enable(false);
            $('#ddl_students').data("kendoDropDownList").value(studentId);
        }else
        {
            $('#ddl_students').data("kendoDropDownList").select(0);
        }
    }
    function Teacher_OnLoaded() {
        $('#ddl_teachers').data("kendoDropDownList").select(0);
    }
    function GetSelectedSchool() {
        var selectedSchoolId = $('#ddl_schools').data("kendoDropDownList").value();
        return {
            schoolId: selectedSchoolId
        }
    };

    function Subjects_OnLoaded()
    {
        if(cspId)
        {
            $('#ddl_subjects').data("kendoDropDownList").value(subjectId);
        }else
        {
            $('#ddl_subjects').data("kendoDropDownList").value(0);
        }
    }
    function GetCSPId() {
       
        return {
            cspId: cspId
        }
    };
    function SchoolYear_OnLoaded()
    {
        if(cspId>0)
        {
            $('#ddl_schoolYears').data("kendoDropDownList").value(schoolYearId);
        }else
        {
            $('#ddl_schoolYears').data("kendoDropDownList").value(0);
        }
    }
</script>
<div class="widgetbox" style="min-height:610px">
    <h4 class="widgettitle">Add new CSP</h4>
    <div class="widgetcontent">

        <table>

            <tr>
                <td style="width:90px">
                    School
                </td>
                <td style="width:250px">
                    <div class="demo-section k-content">
                        @(Html.Kendo().DropDownList()
                          .Name("ddl_schools")
                          .DataTextField("Name")
                          .DataValueField("Id")
                          .HtmlAttributes(new { style = "width:88%" })
                          .Filter("contains")
                          .Events(e =>
                                {
                                    e.Change("School_OnChange").DataBound("School_OnChange");
                                })
                          .DataSource(source =>
                          {
                              source.Read(read =>
                              {
                                  read.Action("Schools_Read", "CSPItem");
                              });

                          })
                        )
                    </div>
                </td>

            </tr>
            <tr style="height:7px"></tr>
            <tr>
                <td>
                    Students
                </td>
                <td>
                    <div class="demo-section k-content">
                        @(Html.Kendo().DropDownList()
                          .Name("ddl_students")
                          .AutoBind(false)
                          .DataTextField("FullName")
                          .DataValueField("Id")
                             .Events(e =>
                                {
                                    e.DataBound("Student_OnLoaded");
                                })
                          .HtmlAttributes(new { style = "width:88%" })
                          .Filter("contains")
                          .DataSource(source =>
                          {
                              source.Read(read =>
                              {
                                  read.Action("Students_Read", "CSPItem").Data("GetSelectedSchool");
                              });

                          })
                        )
                    </div>
                </td>
            </tr>
            <tr style="height:7px"></tr>
            <tr>
                <td>Teachers</td>
                <td>
                    <div class="demo-section k-content">
                        @(Html.Kendo().DropDownList()
                          .Name("ddl_teachers")
                          .DataTextField("UserName")
                          .AutoBind(false)
                          .DataValueField("Id")
                          .HtmlAttributes(new { style = "width:88%" })
                          .Filter("contains")
                              .Events(e =>
                              {
                                  e.DataBound("Teacher_OnLoaded");
                              })
                          .DataSource(source =>
                          {
                              source.Read(read =>
                              {
                                  read.Action("Teachers_Read", "CSPItem").Data("GetSelectedSchool");
                              });

                          })
                        )
                        <a href="#" onclick="AddTeacher()">
                            <img style="vertical-align:bottom" src="~/Images/add1.png" width="25" />
                        </a>
                    </div>

                </td>


            </tr>
            <tr style="height:3px"></tr>
            <tr>
                <td></td>
                <td>
                    <table id="tbl_teachers" class="table table-bordered responsive">
                        <thead>
                            <tr>
                                <th width="30"></th>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>


                            <tr></tr>

                            @*<td><a href="#" onclick="RemoveStudent('3')"><img src="~/Images/Remove.png" width="25" /></a></td>
                                <td>Yasser Shehab</td>*@

                        </tbody>
                    </table>
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr style="height:5px"></tr>
            <tr>
                <td>
                    Subject
                </td>
                <td>
                    <div class="demo-section k-content">
                        @(Html.Kendo().DropDownList()
                          .Name("ddl_subjects")
                          .DataTextField("Name")
                          .DataValueField("Id")
                          .HtmlAttributes(new { style = "width:88%" })
                          .Filter("contains")
                          .Events(e =>
                              {
                                  e.DataBound("Subjects_OnLoaded");
                              })
                          .DataSource(source =>
                          {
                              source.Read(read =>
                              {
                                  read.Action("Subjects_Read", "CSPItem");
                              });

                          })
                        )
                    </div>
                </td>

            </tr>
            <tr style="height:5px"></tr>
            <tr>
                <td>
                    School Year
                </td>
                <td>
                    <div class="demo-section k-content">
                        @(Html.Kendo().DropDownList()
                          .Name("ddl_schoolYears")
                          .DataTextField("Name")
                          .DataValueField("Id")
                          .HtmlAttributes(new { style = "width:88%" })
                          .Filter("contains")
                           .Events(e =>
                           {
                               e.DataBound("SchoolYear_OnLoaded");
                           })
                          .DataSource(source =>
                          {
                              source.Read(read =>
                              {
                                  read.Action("SchoolYears_Read", "CSPItem").Data("GetCSPId"); ;
                              });

                          })
                        )
                    </div>
                </td>

            </tr>
            <tr style="height:7px"></tr>
            <tr>
                <td>
                    Materials
                </td>
                <td>
                   <input type="text" class="form-control" id="Materials" value="@Model.Materials" />
                </td>

            </tr>
            <tr>
                <td>
                    Date Created
                </td>
                <td>
                    <input type="text" class="form-control" disabled value="@Model.CreationDate.ToShortDateString()" />
                </td>

            </tr>
            <tr>
                <td>
                    Created By
                </td>
                <td>
                    <input type="text" class="form-control" disabled value="@Model.CreatedByUserName" />
                </td>
            </tr>
            <tr>
                <td></td>
                <td>

                    <a class="btn btn-primary" onclick="SaveCSP()">Save</a>
                    <a class="btn btn-primary" href="@Url.Action("AddNewCSP","CSPItem")">Clear</a>
                </td>
            </tr>
        </table>

    </div>
</div>
