<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery('#g_operations').css('display', 'block');
    });
    var _StudentId = -1;
    var _TeacherId = -1;
    var _SchoolId = -1;
    var _SchoolYearId = -1;
    var _SubjectId = -1;
    var _ClassId = -1;

    function GetCSPFilterObject() {
        var FilterObject = new Object();
        return {
            filter: FilterObject,
            StudentId: _StudentId,
            TeacherId: _TeacherId,
            SchoolId: _SchoolId,
            SchoolYearId: _SchoolYearId,
            SubjectId: _SubjectId,
            ClassId: _ClassId
        };
    }
    function FilterChanged() {
        _StudentId = $('#ddl_student').data("kendoDropDownList").value();
        _TeacherId = $('#ddl_teacher').data("kendoDropDownList").value();
        _SchoolId = $('#ddl_school').data("kendoDropDownList").value();
        _SchoolYearId = $('#ddl_schoolYear').data("kendoDropDownList").value();
        _SubjectId = $('#ddl_subject').data("kendoDropDownList").value();
        _ClassId = $('#ddl_class').data("kendoDropDownList").value();
       
        $("#grid").data("kendoGrid").dataSource.read();
    }
</script>
<div class="widgetbox" style="min-height:610px">
    <h4 class="widgettitle">CSPs</h4>


    <div class="widgetcontent">
        <a class="btn btn-primary" href="@Url.Action("AddNewCSP")">Add New CSP</a><br /><br />
        <table>
            <tr>
                <td>
                    <label style="font-weight:bold">Teacher</label>
                    <div class="demo-section k-content" style="width:200px">
                        @(Html.Kendo().DropDownList()
                          .Name("ddl_teacher")
                          .DataTextField("UserName")
                          .DataValueField("Id")
                          .HtmlAttributes(new { style = "width:88%" })
                          .Filter("contains")
                          .Events(e =>
                                {
                                    e.Change("FilterChanged");
                                })
                          .DataSource(source =>
                          {
                              source.Read(read =>
                              {
                                  read.Action("GetAllTeachers_Read", "CSPItem");
                              });

                          })
                        )
                    </div>
                </td>
                <td>
                    <label style="font-weight:bold">Student</label>
                    <div class="demo-section k-content" style="width:200px">
                        @(Html.Kendo().DropDownList()
                          .Name("ddl_student")
                          .DataTextField("FullName")
                          .DataValueField("Id")
                          .HtmlAttributes(new { style = "width:88%" })
                          .Filter("contains")
                          .Events(e =>
                          {
                              e.Change("FilterChanged");
                          })
                          .DataSource(source =>
                          {
                              source.Read(read =>
                              {
                                  read.Action("GetAllStudents_Read", "CSPItem");
                              });

                          })
                        )
                    </div>
                </td>
                <td>
                    <label style="font-weight:bold">Subject</label>
                    <div class="demo-section k-content" style="width:200px">
                        @(Html.Kendo().DropDownList()
                          .Name("ddl_subject")
                          .DataTextField("Name")
                          .DataValueField("Id")
                          .HtmlAttributes(new { style = "width:88%" })
                          .Filter("contains")
                          .Events(e =>
                          {
                              e.Change("FilterChanged");
                          })
                          .DataSource(source =>
                          {
                              source.Read(read =>
                              {
                                  read.Action("GetAllSubjects_Read", "CSPItem");
                              });

                          })
                        )
                    </div>
                </td>
                <td>
                    <label style="font-weight:bold">Class</label>
                    <div class="demo-section k-content" style="width:200px">
                        @(Html.Kendo().DropDownList()
                          .Name("ddl_class")
                          .DataTextField("Name")
                          .DataValueField("Id")
                          .HtmlAttributes(new { style = "width:88%" })
                          .Filter("contains")
                          .Events(e =>
                          {
                              e.Change("FilterChanged");
                          })
                          .DataSource(source =>
                          {
                              source.Read(read =>
                              {
                                  read.Action("GetAllClasses_Read", "CSPItem");
                              });

                          })
                        )
                    </div>
                </td>
                <td>
                    <label style="font-weight:bold">School</label>
                    <div class="demo-section k-content" style="width:200px">
                        @(Html.Kendo().DropDownList()
                          .Name("ddl_school")
                          .DataTextField("Name")
                          .DataValueField("Id")
                          .HtmlAttributes(new { style = "width:88%" })
                          .Filter("contains")
                          .Events(e =>
                          {
                              e.Change("FilterChanged");
                          })
                          .DataSource(source =>
                          {
                              source.Read(read =>
                              {
                                  read.Action("GetAllSchools_Read", "CSPItem");
                              });

                          })
                        )
                    </div>
                </td>
                <td>
                    <label style="font-weight:bold">School Year</label>
                    <div class="demo-section k-content" style="width:200px">
                        @(Html.Kendo().DropDownList()
                          .Name("ddl_schoolYear")
                          .DataTextField("Name")
                          .DataValueField("Id")
                          .HtmlAttributes(new { style = "width:88%" })
                          .Filter("contains")
                          .Events(e =>
                          {
                              e.Change("FilterChanged");
                          })
                          .DataSource(source =>
                          {
                              source.Read(read =>
                              {
                                  read.Action("GetAllSchoolYears_Read", "CSPItem");
                              });

                          })
                        )
                    </div>
                </td>
            </tr>
        </table>
        <br />
        @(Html.Kendo().Grid<Sinaicsp_API.CSP>()
      .Name("grid")
      .HtmlAttributes(new { style = "height:500px" })
      .Columns(columns =>
      {
          columns.Template(e => { }).ClientTemplate("<a href='CSPItem/Notes/#= Id #'>Edit</a>").Width(40);

          columns.Bound(c => c.StudentName);
          columns.Bound(c => c.StudentClass).Title("Class");
          columns.Bound(c => c.SchoolName);
          columns.Bound(c => c.SubjectName);
          columns.Bound(c => c.Materials);
          columns.Bound(c => c.TeacherNames);
          columns.Bound(c => c.SchoolYearName);
      })
      .Groupable()
      .ColumnMenu()
      .Sortable(sortable =>
      {
          sortable.SortMode(GridSortMode.SingleColumn);
      })
      .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(5))
      .Filterable()
      .Scrollable()
      .DataSource(dataSource => dataSource
          .Ajax()
          .PageSize(20)
          .Read(read => read.Action("CSPs_Read", "CSPItem").Data("GetCSPFilterObject"))
      )
        )

    </div>
</div>
