
@model Sinaicsp_API.GoalCatalog
@{
    ViewBag.Title = "AddNewRating";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery('#g_definitions').css('display', 'block');
    });
</script>
<div class="widgetbox" style="min-height:610px">
    <h4 class="widgettitle">Add new Goal Catalog</h4>
    <div class="widgetcontent">
        @if (ViewBag.AlreadyExists)
        {
            <h4 class="widgettitle title-danger">Goal Catalog already exists !</h4><br />
        }
        @using (Html.BeginForm("AddNewGoalCatalog", "GoalCatalog", FormMethod.Post, new { id = "ItemForm" }))
        {
            <table>
                <tr>
                    <td style="width:90px">
                        Subject
                    </td>
                    <td>
                        @if (Model.Id > 0)
                        {
                            @Html.DropDownListFor(a => a.GC_SubjectsId, ViewBag.AllSubjects as SelectList, new { @disabled = "disabled" })
                        }
                        else
                        {
                            @Html.DropDownListFor(a => a.GC_SubjectsId, ViewBag.AllSubjects as SelectList)
                            @Html.ValidationMessageFor(a => a.GC_SubjectsId, "", new { @Style = "Color:red" })
                        }
                    </td>
                </tr>
                <tr>
                    <td style="width:90px">
                        Parent Goal
                    </td>
                    <td>
                        @if (Model.Id > 0)
                        {
                            @Html.DropDownListFor(a => a.ParentGoalCatalogId, ViewBag.AllGoals as SelectList, new { @disabled = "disabled" })
                        }
                        else
                        {
                            @Html.DropDownListFor(a => a.ParentGoalCatalogId, ViewBag.AllGoals as SelectList)
                            @Html.ValidationMessageFor(a => a.ParentGoalCatalogId, "", new { @Style = "Color:red" })
                        }
                    </td>
                </tr>
                <tr>
                    <td style="width:90px">
                        Goal
                    </td>
                    <td>
                        @Html.TextBoxFor(a => a.TextGoal)
                        @Html.ValidationMessageFor(a => a.TextGoal, "", new { @Style = "Color:red" })
                    </td>
                </tr>
                <tr>
                    <td style="width:90px">
                        Date Created
                    </td>
                    <td>
                        @if (Model.CreationDate == DateTime.Parse("1/1/0001"))
                        {
                            <input type="text" class="form-control" disabled value="@DateTime.Now.ToShortDateString()" />

                        }
                        else
                        {
                            @Html.TextBoxFor(a => a.CreatedOn, new { disabled = "disabled" })

                        }
                    </td>
                </tr>
                <tr>
                    <td style="width:90px">
                        Created By
                    </td>
                    <td>
                        <input type="text" class="form-control" disabled value="@ApplicationHelper.LoggedUserName" />
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>

                        <a class="btn btn-primary" onclick="ItemForm.submit();">Save</a>
                        <a class="btn btn-primary" href="@Url.Action("AddNewGoalCatalog","GoalCatalog")">Clear</a>
                    </td>
                </tr>
            </table>
        }
    </div>
</div>
