@model List< Sinaicsp_API.GoalCatalog>
<script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery('#g_definitions').css('display', 'block');
        });
        function SearchGoals()
        {
            var subjectId = $('#ddl_subject').data("kendoDropDownList").value();
            var url = '@Url.Action("Index", "GoalCatalog", new {id= "-1" })';
            window.location.href = url.replace("-1", subjectId);
        }
    function SubjectLoaded()
    {
        $('#ddl_subject').data("kendoDropDownList").value(@ViewBag.SubjectId);
    }
</script>
<div class="widgetbox" style="min-height:610px">
    <h4 class="widgettitle">Goal Catalogs</h4>


    <div class="widgetcontent">
        <table>
            <tr>
                <td>Subjects : &nbsp;</td>
                <td>
                    <div class="demo-section k-content" style="width:200px">
                        @(Html.Kendo().DropDownList()
                          .Name("ddl_subject")
                          .DataTextField("Name")
                          .DataValueField("Id")
                          .HtmlAttributes(new { style = "width:88%" })
                          .Filter("contains")
                          .Events(e =>
                          {
                              e.DataBound("SubjectLoaded");
                          })
                          .DataSource(source =>
                          {
                              source.Read(read =>
                              {
                                  read.Action("GetAllSubjects_Read", "GoalCatalog");
                              });

                          })
                        )
                    </div>
                </td>
                <td><a href="#" onclick="SearchGoals()" style="margin-left:-20px" class="btn btn-primary" >Search</a></td>
            </tr>
        </table>
        <br />
        <a class="btn btn-primary" href="@Url.Action("AddNewGoalCatalog",new { subjectId = ViewBag.SubjectId })">Add New Goal Catalog</a>

        <table class="table table-bordered ">
            <thead>
                <tr>
                    <th width="30"></th>
                    <th width="20"></th>
                    <th width="30"></th>
                    <th>Goal</th>

                </tr>
            </thead>
            <tbody>
                @{List<Sinaicsp_API.GoalCatalog> orderedList = Model.Where(a => a.IsDeleted == false).OrderBy(a => a.TextOrder).ThenBy(a => a.SubTextOrder).ToList(); }
                @foreach (Sinaicsp_API.GoalCatalog goalItem in orderedList)
                {
                    <tr>
                        <td style="text-align:center">
                            @if (goalItem.ParentGoalCatalogId == null)
                            {
                                <a href="@Url.Action("MoveOrderUp", new {id=goalItem.Id })"><img style="cursor:pointer" src="~/Images/up.png" width="10" title="Up" /></a>
                                <a href="@Url.Action("MoveOrderDown", new {id=goalItem.Id })"><img style="cursor:pointer" src="~/Images/Down.png" width="10" title="Down" /></a>
                            }
                        </td>
                        <td width="15" style="text-align:center"> <a onclick="return confirm('Are you sure ?')" href="@Url.Action("DeleteGoalCatalog", new {id=goalItem.Id })"><img src="~/Images/DeleteRed.png" width="15" title="Delete" /></a></td>
                        <td style="text-align:center">
                            @if (goalItem.ParentGoalCatalogId != null)
                            {
                                <a href="@Url.Action("MoveOrderUp", new {id=goalItem.Id })">
                                    <img style="cursor:pointer" src="~/Images/up.png" width="10" title="Up" />
                                </a>
                                <a href="@Url.Action("MoveOrderDown", new {id=goalItem.Id })"><img style="cursor:pointer" src="~/Images/Down.png" width="10" title="Down" /></a>

                            }
                        </td>
                        @if (goalItem.ParentGoalCatalogId == null)
                        {
                            <td><label style="font-weight:bolder;cursor:default">- @Html.Raw(goalItem.TextGoal)</label></td>
                        }
                        else
                        {
                            <td><label style="font-weight:normal;cursor:default;margin-left:70px">@Html.Raw(goalItem.TextGoal)</label></td>
                        }
                    </tr>
                }

            </tbody>
        </table>

    </div>
</div>
