<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href="@Url.Content("~/Content/kendo/2016.1.112/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2016.1.112/kendo.mobile.all.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2016.1.112/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2016.1.112/kendo.Default.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2016.1.112/kendo.dataviz.Default.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/kendo/2016.1.112/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2016.1.112/jszip.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2016.1.112/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2016.1.112/kendo.aspnetmvc.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
</head>
<body>
    <div class="navbar-left" style="width:170px;margin-top:23px">
        @(Html.Kendo().PanelBar()
    .Name("panelbar")
    .ExpandAll(true)
    .ExpandMode(PanelBarExpandMode.Multiple)
    .Items(panelbar =>
    {
        panelbar.Add().Text("User Management")
            .Items(MItems =>
            {
                MItems.Add().Text("Roles").Action("Roles", "UserManagement");
                MItems.Add().Text("Users");
            });

        panelbar.Add().Text("Definitions")
            .Items(MItems =>
            {
                MItems.Add().Text("Cities");
                MItems.Add().Text("Classes");
                MItems.Add().Text("Grades");
                MItems.Add().Text("Subjects");
                MItems.Add().Text("School Years");

            });
        panelbar.Add().Text("Operations")
    .Items(MItems =>
    {
        MItems.Add().Text("Schools");
        MItems.Add().Text("Teachers");
        MItems.Add().Text("Students");
        MItems.Add().Text("Locks");
        MItems.Add().Text("Services");
    });


    })
        )
    </div>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:white">
        <div >
            <div class="navbar-header" >
                <a href="@Url.Action("Index")">  <img src="~/Images/SINAI Schools logo.jpeg" height="70" /></a>
            </div>
            <div class="navbar pull-right">
                <div></div>
            </div>
        </div>
    </div>

    <div class="container body-content" style="margin-top:23px">
        @RenderBody()

    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>