<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/Theme/css/style.default.css" type="text/css" />
    <link id="skinstyle" rel="stylesheet" href="~/Theme/css/style.default.css" type="text/css" />
    <link rel="stylesheet" href="~/Theme/css/responsive-tables.css">
    <script type="text/javascript" src="~/Theme/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="~/Theme/js/jquery-migrate-1.1.1.min.js"></script>
    <script type="text/javascript" src="~/Theme/js/jquery-ui-1.9.2.min.js"></script>
    <script type="text/javascript" src="~/Theme/js/modernizr.min.js"></script>
    <script type="text/javascript" src="~/Theme/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Theme/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="~/Theme/js/jquery.uniform.min.js"></script>
    <script type="text/javascript" src="~/Theme/js/flot/jquery.flot.min.js"></script>
    <script type="text/javascript" src="~/Theme/js/flot/jquery.flot.resize.min.js"></script>
    <script type="text/javascript" src="~/Theme/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Theme/js/responsive-tables.js"></script>
    <script type="text/javascript" src="~/Theme/js/custom.js"></script>


    <title>Sinai School - Admin Panel</title>

    <link href="@Url.Content("~/Content/kendo/2016.1.112/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2016.1.112/kendo.mobile.all.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2016.1.112/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2016.1.112/kendo.Default.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2016.1.112/kendo.dataviz.Default.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/kendo/2016.1.112/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2016.1.112/jszip.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2016.1.112/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2016.1.112/kendo.aspnetmvc.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>

</head>
<body>

    <div class="mainwrapper">



        <div class="leftpanel">

            <div class="leftmenu">
                @if (ApplicationHelper.IsLoggedIn)
                {
                    if (ApplicationHelper.LoggedUser.CurrentRoles.Contains(Sinaicsp_API.E_Role.Admin))
                    {
                        <ul class="nav nav-tabs nav-stacked">
                            <li class="nav-header">

                            </li>
                            <li class="dropdown">
                                <a href=""><span class="iconfa-pencil"></span>User Management</a>
                                <ul id="g_admin">
                                    <li><a class="all" href="@Url.Action("Roles", "UserManagement")"><span></span>Roles</a></li>
                                    <li><a class="all" href="@Url.Action("Users", "UserManagement")"><span></span>Users</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href=""><span class="iconfa-pencil"></span>Definitions</a>
                                <ul id="g_definitions">
                                    <li><a class="all" href="@Url.Action("Index", "City")"><span></span>Cities</a></li>
                                    <li><a class="all" href="@Url.Action("Index", "StudentClass")"><span></span>Classes</a></li>
                                    <li><a class="all" href="@Url.Action("Index", "Grade")"><span></span>Grades</a></li>
                                    <li><a class="all" href="@Url.Action("Index", "Subject")"><span></span>Subjects</a></li>
                                    <li><a class="all" href="@Url.Action("Index", "SchoolYear")"><span></span>School Years</a></li>
                                    <li><a class="all" href="@Url.Action("Index", "Provider")"><span></span>Providers</a></li>
                                    <li><a class="all" href="@Url.Action("Index", "Rating")"><span></span>Ratings</a></li>
                                    <li><a class="all" href="@Url.Action("Index", "GoalCatalog")"><span></span>Goal Catalog</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href=""><span class="iconfa-pencil"></span>Operations</a>
                                <ul id="g_operations">
                                    <li><a class="all" href="@Url.Action("Index", "School")"><span></span>Schools</a></li>
                                    <li><a class="all" href="@Url.Action("Index", "Teacher")"><span></span>Teachers</a></li>
                                    <li><a class="all" href="@Url.Action("Index", "Student")"><span></span>Students</a></li>
                                    @*<li><a class="all" href="#"><span></span>Locks</a></li>*@
                                    <li><a class="all" href="@Url.Action("Index", "StudentService")"><span></span>Services</a></li>
                                    <li><a class="all" href="@Url.Action("Index", "CSPItem")"><span></span>CSPs</a></li>
                                </ul>
                            </li>

                        </ul>
                    }
                    else
                    {
                        <ul class="nav nav-tabs nav-stacked">
                            <li class="nav-header">

                            </li>
                          
                            <li class="dropdown">
                                <a href=""><span class="iconfa-pencil"></span>Operations</a>
                                <ul id="g_operations" style="display:block">
                                   
                                    <li><a class="all" href="@Url.Action("Index", "CSPItem")"><span></span>CSPs</a></li>
                                </ul>
                            </li>

                        </ul>
                    }
                }
            </div>
            <!--leftmenu-->

        </div>
        <!-- leftpanel -->

        <div class="rightpanel">

            <ul class="breadcrumbs">
                <li class="right">
                    @if (ApplicationHelper.IsLoggedIn)
                    {
                        <div>
                            <a href="#">@ApplicationHelper.LoggedUser.UserName [ @ApplicationHelper.LoggedUser.Roles ]</a> -
                            <a href="@Url.Action("LogOut", "UserManagement")">Sign Out</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </div>
                    }
                    else
                    {
                        <div>
                            <a href="@Url.Action("Login", "UserManagement")">Sign in</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </div>
                    }
                </li>


            </ul>


            <!--pageheader-->

            <div class="maincontent">
                <div class="maincontentinner">
                    <!--row-fluid-->
                    @RenderBody()
                    <div class="footer">
                        <div class="footer-left">
                            <span>&copy; 2017. Sinai Schools. All Rights Reserved.</span>
                        </div>
                    </div>
                    <!--footer-->

                </div>
                <!--maincontentinner-->
            </div>
            <!--maincontent-->

        </div>
        <!--rightpanel-->

    </div>
</body>
</html>